<%= form_with(model: task, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_text_area :content, data: { controller: "trix" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5" >
    <%= form.label :prerequisite_id, "Choose prerequisite with SHIFT/CMD + click" %>
    <br>
    <%= form.collection_select :prerequisite_id, Task.all, :id, :title, {include_blank: false}, multiple: true, size: Task.all.count,  class: "block shadow rounded-md border border-gray-200 outline-none px-2 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5" >
    <%= form.label :level %>
    <br>
    <%= form.select :level, Task.levels.keys, {:include_blank => false}, class: "block shadow rounded-md border border-gray-200 outline-none px-2 py-2 mt-2 w-full" %>
  </div>
  <div class="inline_">
    <%= form.submit class: "btn-small cursor-pointer" %>
  </div>
<% end %>