<%= form_tag(user_goals_path(current_user)) do %>
  <%= hidden_field_tag('task_id', @task.id) %>
  <%= button_tag(class: 'btn-small', type: 'submit', hidden: @goal_added) do %>
  <% end %>
<% end %>
<div data-controller="tasks">
  <div class="block">
    <%= form_with(model: task, class:"text-lg inline-block my-3 w-72") do |form| %>
      <%= form.check_box :completed,
              data: {
                id: @task.id,
                action: "tasks#toggle tasks#confetti"
              }, class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500",checked: @goal_finished, disabled: @goal_finished %>
    <% end %>
  </div>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= @task.id %></strong>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= task.content %>
  </p>
  <div class="flex justify-end items-center flex-wrap mt-6">
    <button class="btn-small" data-action="click->modal#close">Close</button>
  </div>
</div>