<div class="w-full">
  <h1 class="title">Tasks</h1>
  <div class="flex space-x-4"><%= link_to 'Create task', new_task_path, class: "btn-small dark:bg-gray-800 dark:text-gray-00" %></div>
  <div class="overflow-auto hidden md:block shadow-md sm:rounded-lg border-2">
    <table class="w-full text-sm text-left text-gray-500 dark:bg-gray-800 dark:text-gray-400">
      <% if notice.present? %>
        <p data-controller="autohide" data-autohide-class-value="opacity-0" data-autohide-delay-value="1000" class="py-1 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block transition-all ease-in-out duration-500" id="notice"><%= notice %></p>
      <% end %>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">
            Title
          </th>
          <th scope="col" class="py-3 px-6">
            Status
          </th>
          <th scope="col" class="py-3 px-6">
            ID
          </th>
          <th scope="col" class="py-3 px-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <% @tasks = Task.all %>
        <% @tasks.each do |task| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="py-4 px-6"><%= task.title %></td>
            <td class="py-4 px-6"><%= task.id %></td>
            <td class="py-4 px-6">
              <div class="items-center justify-center hidden col-span-1 space-x-2 sm:flex">
                <%= link_to 'Edit', edit_task_path(task), class: "btn-small" %>
                <%= link_to 'Show', task_path(task), class: "btn-small" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>