<div class="flex justify-center">
  <div class="p-6 center max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @task %>
    <%= form_tag(user_goals_path(current_user)) do %>
      <%= hidden_field_tag('task_id', @task.id) %>
      <%= button_tag(class: 'btn', type: 'submit', disabled: @disable_add_goal) do %>
        Add
      <% end %>
    <% end %>
    <div class="flex items-center">
      <%= link_to 'Edit this task', edit_task_path(@task), class: "btn" %>
      <%= button_to 'Destroy this task', task_path(@task), method: :delete, class: "btn" %>
      <%= link_to 'Back to tasks', tasks_path, class: "btn" %>
    </div>
  </div>
</div>
