<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="my-5">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
    <%= form.collection_check_boxes(:role_ids, Role.all, :id, :name) do |f| %>
      <%= f.check_box class:"mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %>
      <%= f.label %>
    <% end %>
  </div>
  <%= form.submit class:"btn-small cursor-pointer" %>
<% end %>