<div class="container mx-auto">
  <div class="flex flex-col justify-center items-center">
    <% if notice.present? %>
      <p data-controller="autohide" data-autohide-class-value="opacity-0" data-autohide-delay-value="2000" class="py-1 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block transition-all ease-in-out duration-1000" id="notice"><%= notice %></p>
    <% elsif alert.present? %>
      <p data-controller="autohide" data-autohide-class-value="opacity-0" data-autohide-delay-value="2000" class="py-1 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block transition-all ease-in-out duration-2000" id="notice"><%= alert %></p>
    <% end %>
  </div>
  <h1 class="title">Goals 🎯 of <%= @user.email %> </h1>
  <div class="overflow-auto hidden md:block shadow-md sm:rounded-lg border-2">
    <table class="w-full text-sm text-left text-gray-500 dark:bg-gray-800 dark:text-gray-400 ">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">
            Title
          </th>
          <th scope="col" class="py-3 px-6">
            ID
          </th>
          <th scope="col" class="py-3 px-6">
            Actions
          </th>
          <th scope="col" class="py-3 px-6">
            Done
          </th>
          <% if current_user.has_role? :admin %>
            <th scope="col" class="py-3 px-6">
              Reviewed
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @goals.each do |goal| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <% if goal.level == "basics" %>
              <td class="py-4 px-6"><span class='basics-plain'><%= goal.level %></span><%= goal.title %></td>
            <% elsif goal.level =="product" %>
              <td class="py-4 px-6"><span class='product-plain'><%= goal.level %></span><%= goal.title %></td>
            <% else %>
              <td class="py-4 px-6"><span class='research-plain'><%= goal.level %></span><%= goal.title %></td>
            <% end %>
            <td class="py-4 px-6"><%= goal.id %></td>
            <td class="py-4 px-6"><%= link_to 'Show', goal, class: "btn-small",  data: { turbo_frame: 'modal' } %></td>
            <td class="py-4 px-6"><% if @user.task_progresses.find_by_task_id(goal.id).done? %>
                <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Done🎉</span></td>
            <% end %>
            <% if current_user.has_role? :admin %>
              <td class="py-4 px-6">
                <div data-controller="tasks" data-userid="<%= @user.id %>" class="space-x-4">
                  <% @goal_reviewed = @user.task_progresses.find_by_task_id(goal.id).passed %>
                  <%= form_with(model: goal, class:"text-lg inline-block my-3 w-72") do |form| %>
                    <%= form.check_box :completed, data: { id: goal.id, userid: @user.id, action: "tasks#toggle2 " }, class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500",checked: @goal_reviewed %>
                  <% end %>
                <% end %>
              </div>
            </td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>