<h1 class="title">Learning map</h1>

<div class="">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
</div>

<% @goals = current_user.goals %>
<% @goals.each_with_index do |goal, index| %>
  <div data-controller="learningmap" data-learningmap-id-value="<%=goal.id%>" data-learningmap-pre-value="<%=goal.prerequisite_id%>" class="flex">
    <div data-learningmaps-target="start" id="<%=goal.id%>" class="btn"><%=goal.title%> <%=goal.id%></div>
    <div data-learningmap-target="end" pre="<%goal.prerequisite_id%>" style="display: none;"> End</div>
  <% end %>
  </div>
