<!DOCTYPE html>
<html>
  <head>
    <title>Glong</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white">
    <div class="container flex flex-wrap justify-between items-center mx-auto dark:bg-gray-800">
      <a href="https://glong.ch" class="flex items-center">
        <%= image_tag "logo.svg" %>
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Adamap</span>
      </a>
      <div class="flex items-center md:order-2">
        <div class="">
          <div class="relative" data-controller="dropdown">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 cursor-pointer block" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </div>
            <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden">
              <div class="bg-white shadow rounded border overflow-hidden">
                <%if user_logged_in?%>
                  <%= link_to 'Account', account_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Goals', account_goals_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Learning map', account_learningmap_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Tasks', tasks_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Nodes', nodes_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Users', users_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                  <%= link_to 'Logout', logout_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                <% else %>
                  <%= link_to 'Login', login_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <body class="dark:bg-gray-800">
    <main style="width: 1200px; margin: 10px auto;">
      <%= yield %>
      <%= turbo_frame_tag "modal" %>
    </main>
  </body>
</html>